<%- include('partials/header') -%>

  <!-- Photos collage -->
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-lg-3 justify-content-between mt-5">
            <a href="/postPage/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>

          </li>
        <% } %>
      </ul>
    

<%- include('partials/footer') -%>