/* Color overrides: */

.btn {
    background-color: #0087C4;
    border-color: #0087C4;
 }

 .btn:hover, .btn:focus, .btn:active,
 .btn:first-child:hover, 
 :not(.btn-check)+.btn:hover {
    background-color: #00AE9F;
    border-color:  #00AE9F;
 }

 a {
    color:  #0087C4;
 }

 a:focus, a:hover {
    color: #DD4F6C;
 }

 .btn-secondary {
    background-color: #F5AE4F;
    border-color: #F5AE4F;
 }

 /* Fonts */
 h1, h2, h3, h4, h5 {
    font-weight: 500;
    font-family: 'Montserrat', san-serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

#navmenu {
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

footer {
    color: white;
}

footer i {
    font-size: 2rem;
}

.main {
    min-height: 100vh;
}
